* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #1f1d58;
  font-family: "Euclid Circular A", "Poppins";
  color: #f7f7f7;
}

html,
body {
  height: 100%;
}

a {
  text-decoration: none;
  color: #7472b4;
}

section {
  position: fixed;
  left: 0;
  bottom: 12px;
  width: 100%;
  padding-top: 60px;
  background-color: #24226d;
}

footer {
  position: relative;
  margin: 0 30px;
  color: rgb(255 255 255 / 50%);
}

footer.top {
  display: grid;
  border-bottom: 2px solid rgb(255 255 255 / 20%);
}

footer.top > img {
  height: 50px;
  margin: 0 auto 50px;
}

footer.top .links {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
  margin-bottom: 30px;
}

footer.top .links-column {
  display: grid;
  gap: 10px;
  text-align: center;
}

footer.top h2 {
  margin: 0px 0px 10px;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgb(255 255 255 / 96%);
}

footer.top p {
  margin: 0;
}

footer.top .socials {
  position: absolute;
  left: 50%;
  bottom: 10px;
  translate: -50% 0;
  display: flex;
  align-items: center;
  gap: 18px;
  height: 56px;
}

footer.top .socials > a {
  font-size: 24px;
}

.socials-column h2,
.socials-column p {
  display: none;
}

footer.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column-reverse;
  gap: 8px;
  padding: 20px;
  text-align: center;
}

.legal > a {
  margin-right: 0 0 0 4px;
}

.legal,
.copyright {
  font-size: 12px;
}

@media (width > 400px) {
  footer.top .links {
    grid-template-columns: repeat(2, 1fr);
    margin-right: 50px;
  }

  .links-column {
    text-align: left !important;
  }

  footer.top .socials {
    left: 0;
    translate: 0;
  }

  footer.top > img {
    margin: 0 0 50px;
  }

  footer.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 20px;
    text-align: left;
  }
}

@media (width >= 600px) {
  footer {
    margin: 0 auto;
    max-width: 700px;
    padding: 0;
  }

  footer.top {
    padding: 20px;
  }

  footer.top .links {
    grid-template-columns: repeat(3, 1fr);
  }

  footer.top .socials {
    position: static;
  }

  footer.bottom {
    justify-content: flex-start;
  }

  .socials-column h2,
  .socials-column p {
    display: block;
  }
}
